body {
    display: flex;
    justify-content: center;
    background-color: bisque;
    align-items: center;
    min-height: 100vh;
}
main {
    padding: 30px;
    border-radius: 15px;
    background-color:chocolate;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 300px;
    max-width: 500px;
}

.row {
    display: flex;
}





button {
    padding: 15px;
    border: 0.2px solid black;
    transition: all 1s ease-in-out;
    font-size: 20px;
}

.minus{
    flex: 0.5;
}
.dot {
    flex: 0.5;
}
.display {
    flex:3;
    background-color: green;
    padding: 25px;
    border: 10px solid rgba(0, 0, 0, 0.8);
    font-size: 20px;
}
.number{
    background-color: blanchedalmond;
    flex: 1;
}
.operation {
    background-color:cadetblue;
    flex: 1;
}
.c{
    background-color: red;
    flex:1;
}
.equal {
    background-color: red;
    flex: 1;
}